.footer-font {
  color: #ffff;
  background-color: #181E22;
  margin-top: -80px;
}

.footer-links{
 padding-top:80px;
 padding-bottom:30px;
}

.floating-footer {
  margin-top: -60px !important;
  z-index: 1;
}
.float-footer-col {
  background-color: #367c2b;
  text-align: center;
}

.float-footer-col-middle {
  border-right: 1px solid #181e22;
  border-left: 1px solid #181e22;
  border-top: none;
  border-bottom: none;
}

.float-footer-div {
  width: 100%;
  height: 100%;
  padding: 30px 0 35px 0;
}

.float-footer-img {
  width: 40px;
}
.footer-h4 {
  font-style: italic;
  font-weight: 600;
}

.green-icons {
  color: #367c2b;
  font-size: 18px;
}
.grey-text {
  color: #aeaeae;
  font-size: 12px;
  margin-bottom: 5px;
}
.footer-newsletter-form-div > form > div > button{
 background-color: #367c2b;
 border: none;
}

.footer-social-icons {
  padding: 5px;
}

.news-col>br, .news-col>label{
 display: none;
}
@media screen and (max-width: 575px) {
  .float-footer-div {
    padding: 10px 0 20px 0;
  }
}
